<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
      <rewrite>
          <rules>
              <rule name="Root Hit Redirect" stopProcessing="true">
                  <match url="/" />
                  <action type="Redirect" url="/Biografia.html" />
              </rule>
          </rules>
      </rewrite>
  </system.webServer>
</configuration>
